@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap);

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0.1);
    --white-color: #fff;
    --primary-color:red;
    --text-color: #333;
    --star-gold-color: #FFCE3E
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
header ul.sub-user {
  position: absolute;
  color: var(--green);
  background: #eee;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 15px;
  display: none;
}
header ul.sub-user a{
  border-radius: 5px;
  text-decoration: none;
 
}
header li:hover > ul.sub-user {
  display: block;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

header .logo {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo i {
  color: var(--green);
}

header .navbar a {
  color: var(--light-color);
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
}

header .navbar a.active,
header .navbar a:hover {
  color: #fff;
  background: var(--green);
}

header .icon i,
header .icon a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--black);
  border-radius: 50%;
  background: #eee;
}

header .icon i:hover,
header .icon a:hover {
  color: #fff;
  background: var(--green);
  transform: rotate(360deg);
}

header .icon #bars {
  display: none;
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
#search-form.active {
  top: 0;
}

#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}
#search-form #search-box::placeholder {
  color: #eee;
}
/* #search-form #search-box::-webkit-search-cancel-button {
  -webkit-appearance: none;
} */
#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}
#search-form label:hover {
  color: var(--green);
}
#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
}
@media (max-width: 768px) {
  header .icon #bars {
    display: inline-block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
  
    border: 1px solid black;
    width: 276px;
    height: 420px;
    box-sizing: content-box;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;  
    padding: 30px 40px;
}

.wrapper .login_box .login_header{
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    font-weight: 1000;
    color: var(--green);
   
}
.wrapper .login_box #user{
    border: 2px solid var(--black);
    border-radius: 50px;
    height: 40px;
    font-size: 20px;
    margin-top: 8px;


}
.wrapper .login_box #pass{
    border: 2px solid var(--black);
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 20px;

}
.wrapper .input_box{
    position: relative;
    width: 100%;
    height: 50px;
  
}
.input_box input{
    width: 100%;
    height: 100%;
    padding: 20px 45px 20px 20px;
}
.input_box i {
    position:absolute ;
    right: 20px;
    top: 50%;
    bottom: 4px;
    right: 30px;
    transform: translateY(-50%);
    font-size: 30px;

}
.wrapper .login_box input::placeholder{
    color: black;
}
.wrapper .login_box .remember-forgot{
    display: flex;
    font-size: 16px;
    justify-content: space-between;

}

.wrapper .login_box .input-submit{
    font-size: 16px;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    border: 1px solid var(--black);
    background-color: var(--white-color);
    border-radius: 50px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    font-weight: 600;
}
.wrapper .login_box .input_box .input-submit:hover{
    background-color: var(--green);
}
.sex{
    display: flex;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    
}

.wrapper .login_box #re-pass{
    border: 2px solid var(--black);
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 20px;
}
.wrapper .login_box #email{
    border: 2px solid var(--black);
    border-radius: 50px;
    margin-top: 8px;
    
    height: 40px;
    font-size: 20px;
}
.wrapper .login_box #number{
    border: 2px solid var(--black);
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    font-size: 20px;
}

